@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.ProductId)</th>
            <th>@Html.DisplayNameFor(m => m.Image)</th>
            <th>@Html.DisplayNameFor(m => m.Name) </th>
            <th>@Html.DisplayNameFor(m => m.Price) </th>
        </tr>
    </thead>

        <tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.ProductId)</td>
				<td><img src="@Url.Content(item.Image)" width="100" height="100" /></td>
				<td>@Html.DisplayFor(modelItem => item.Name)</td>
				<td>@Html.DisplayFor(modelItem => item.Price)</td>
			</tr>
		}
</table>